.body {
  width: 80%;
  margin: 0 auto;
}

.dropcaps:first-letter { 
  float: left;
  font-size: 8em;
  line-height: 0.75em;
  padding-top: 0.1125em;
  padding-right: 0.1125em;
  padding-left: 0.1125em;
}